In [68]:
name = "Muhamad Hamudi"
age = 20
address,province = "Sukabumi","7413412"
scorePython = 99.0
isMarried = False

print("Nama: ",name)
print("Umur: ",age)
print("Alamat: ",address,",",province)
print("Nilai Pemrograman: ",scorePython)
print("Status Menikah: ",isMarried)

print("========================================")
print("Tipe data <name>",type(name))
print("Tipe Data <age>",type(age))
print("Tipe Data <address>",type(address))
print("Tipe Data <province>",type(province))
print("Tipe Data <scorePython>",type(scorePython))
print("Tipe Data <isMarried",type(isMarried))
print("=========================================")

Nama:  Muhamad Hamudi
Umur:  20
Alamat:  Sukabumi , 7413412
Nilai Pemrograman:  99.0
Status Menikah:  False
========================================
Tipe data <name> <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <address> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <scorePython> <class 'float'>
Tipe Data <isMarried <class 'bool'>
=========================================

In [93]:
#Konversi Tipe Data

#Konversi dari String ke (int,float,bool)
print("================================================")
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt ,strToFloat, strToBool, sep="|")

#Konversi dari Int ke (str,float,bool)
print("================================================")
intToStr = str(age)
intToFloat = float(age)
intToBool = bool(age)
print(intToStr ,intToFloat, intToBool, sep="|")

#Konversi dari Float ke (str,int,bool)
print("================================================")
floatToStr = str(scorePython)
floatToInt = int(scorePython)
floatToBool = bool(scorePython)
print(floatToStr ,floatToInt, floatToBool, sep="|")

#Konversi dari Float ke (str,int,bool)
print("================================================")
boolToStr = str(isMarried)
boolToInt = int(isMarried)
boolToFloat = bool(isMarried)
print(boolToStr ,boolToInt, boolToFloat, sep="|")
print("================================================")

================================================
7413412|7413412.0|True
================================================
20|20.0|True
================================================
99.0|99|True
================================================
False|0|False
================================================

In [99]:
desimal = 500 
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print("Nilai Desimal :",desimal)
print("Nilai Biner :",biner)
print("Nilai Octal :",octal)
print("Nilai Hexa :",hexa)

print("==============================================")

print("Nilai Biner dari",desimal,":",bin(desimal))
print("Nilai Octal dari",desimal,":",oct(desimal))
print("Nilai Hexa dari",desimal,":",hex(desimal))

Nilai Desimal : 500
Nilai Biner : 10
Nilai Octal : 255
Nilai Hexa : 255
==============================================
Nilai Biner dari 500 : 0b111110100
Nilai Octal dari 500 : 0o764
Nilai Hexa dari 500 : 0x1f4

In [148]:
#Tipe data Collection
#List

cities = ["Bandung","Sukabumi","Bogor","Jakarta","Medan"]
lengthCities = len(cities)
print("==========================================================================")
print(cities) #semua index
print("==========================================================================")
print(cities[0],"|index pertama|") #index pertama
print("==========================================================================")
print(cities[lengthCities-1], "|index terakhir|") #index terakhir
print("==========================================================================")
print(cities[lengthCities-1][0],"|huruf index pertama dari index terakhir|") #huruf index pertama dari index terakhir
print("==========================================================================")
print(cities[lengthCities-1][len(cities[lengthCities-1])-1], "|huruf index terakhir dari index terakhir|") #huruf index terakhir dari index terakhir
print("==========================================================================")
cities[0] = "Bali" #Mengganti index pertama
print(cities,"|Mengganti index pertama|")
print("==========================================================================")
print("")
print("")
print("")

#Tuple
print("===Tuple===")
names = ("Djibriel","Ibnu","Hamudi","Gidzane","Naufal")
print(names)
print(names[2])
print("===========")
print("")
print("")
print("")


#Dictionary
print("==Dictionary===")
studentData = {
    "name" : "Hamudi",
    "age" : 20,
    "address" : {
        "street" : "Jl.Merdeka",
        "number" : 125,
        "province" : "Jawa Barat"
    },
    "isMarries" : True,
    "hobbies" : ["Programming","Playing Games"]
}

print(studentData)
print("Umur: ",studentData["age"])
print("Alamat: ",studentData["address"]["province"])
print("Hobbi: ",studentData["hobbies"][0])
print("===================")

==========================================================================
['Bandung', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
==========================================================================
Bandung |index pertama|
==========================================================================
Medan |index terakhir|
==========================================================================
M |huruf index pertama dari index terakhir|
==========================================================================
n |huruf index terakhir dari index terakhir|
==========================================================================
['Bali', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan'] |Mengganti index pertama|
==========================================================================



===Tuple===
('Djibriel', 'Ibnu', 'Hamudi', 'Gidzane', 'Naufal')
Hamudi
===========



==Dictionary===
{'name': 'Hamudi', 'age': 20, 'address': {'street': 'Jl.Merdeka', 'number': 125, 'province': 'Jawa Barat'}, 'isMarries': True, 'hobbies': ['Programming', 'Playing Games']}
Umur:  20
Alamat:  Jawa Barat
Hobbi:  Programming
===================

In [158]:
studentList = [
    {
        "name" : "Mudi",
        "age" : 19,
        "address" : {
            "street" : "Situgede",
            "number" : 120,
            "province" : "Jawa Barat"
        },
        "isMarried" : True,
        "hobbies" : ["Programming","Playing Games"]
    },
    {
        "name" : "Ibnu",
        "age" : 90,
        "address" : {
            "street" : "Cibadag",
            "number" : 36,
            "province" : "Aceh"
        },
        "isMarried" : False,
        "hobbies"  : ["Football","Volleyball"]
    }
]
print(studentList[0])
print(studentList[1])
print(studentList[1]["address"]["province"])

{'name': 'Mudi', 'age': 19, 'address': {'street': 'Situgede', 'number': 120, 'province': 'Jawa Barat'}, 'isMarried': True, 'hobbies': ['Programming', 'Playing Games']}
{'name': 'Ibnu', 'age': 90, 'address': {'street': 'Cibadag', 'number': 36, 'province': 'Aceh'}, 'isMarried': False, 'hobbies': ['Football', 'Volleyball']}
Aceh

In [144]:
#Konversi Dictionary
print("=== List ke List === ")
list_list = [["Name","Hamudi"],["Age","20"],["Status",True]]
dictListStudent = dict(list_list)
print(dictListStudent)

print("=== List ke Tuple === ")
list_tuple = [("Name","Djibriel"),("Age","20"),("Address","Mangkalaya")]
dictTupleStudent = dict(list_tuple)
print(dictTupleStudent)


print("=== Tuple ke List === ")
tuple_list = (["Name","Harimau"],["Type","Mamalia"])
dictListAnimal = dict(tuple_list)
print(dictListAnimal)


print("=== Tuple ke Tuple === ")
tuple_tuple = (("Name","Buaya"),("Type","Reptil"))
dictTupleAnimal = dict(tuple_tuple)
print(dictTupleAnimal)

print("============================")

keys = ["Vechile","Brand","cc"]
values = ["Car","Lamborghini","5000"]
car = dict(zip(keys,values))
print(car)

=== List ke List ===
{'Name': 'Hamudi', 'Age': '20', 'Status': True}
=== List ke Tuple ===
{'Name': 'Djibriel', 'Age': '20', 'Address': 'Mangkalaya'}
=== Tuple ke List ===
{'Name': 'Harimau', 'Type': 'Mamalia'}
=== Tuple ke Tuple ===
{'Name': 'Buaya', 'Type': 'Reptil'}
============================
{'Vechile': 'Car', 'Brand': 'Lamborghini', 'cc': '5000'}